@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Source Sans Pro', system-ui, sans-serif;
  color: #273233;
  background: #F7F7F7;
}

.tabular-nums-hc1 {
  font-variant-numeric: tabular-nums;
  font-feature-settings: "tnum";
}
